
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

  /* this is headrt style */
header{

    background-color: #ad5389;
}
.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;

}
.branding{
    margin-right: 4rem;
    

}
.logo{
    font-size: 30px;
    
    text-decoration: none;
    font-weight: bold;
   
}


header nav .left a{

    color: rgb(251, 250, 251);
    align-items: center;
    text-decoration: none;
    margin-right: 7px;
    font-weight: 500;
    text-transform: uppercase;
    
}
header nav .left a:hover{

    color: rgb(50, 4, 134);
    transition: all .3s ease;
}
.left{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 0;
}
.button{
    padding: 0.6rem 1rem;
   background-color: rgb(251, 250, 251);
   font-size: 1rem;
   color: rgb(3, 3, 136);
   border: 2px solid transparent;
   outline: none;
   cursor: pointer;
   text-transform:uppercase;
   font-weight: bold;
}
.button:hover{
    background:transparent;
    border:2px solid rgb(251, 250, 251); 
    color: rgb(251, 250, 251);
    transition: .3s ease;
   
}

  /* this is 1st section style */
h1{
  padding-top: 10px;
  font-size: 50px; 
  

}
.heading1{
   font-size: 40px;
}


.myname{
color: rgb(252, 214, 1);    
}
.half-width{
    width: 40%;
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width1 img{
    width: 100%;
}
.banner{
    background-image: url("../image/top-banner.png");
    height:500px;
    background-repeat: no-repeat;
}
.half-width .link-button{
    text-decoration: none;
    padding: 0.8rem 2rem;
    background-image: linear-gradient(45deg,rgb(211, 6, 40),rgb(250, 65, 96) );
    color: white;
    border-radius: 5px;
    font-weight: 700;
  
}
.link-button:hover{
    background: transparent;
    color: rgb(211, 6, 40);
    border: 2px solid rgb(211, 6, 40);
    font-weight: 700;
 
}
  /* this is 2nd section style ,start here */

.half-width3 img{
    width: 100%;
}
.half-width3{
    width: 40%;
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width4{
    width: 40%;
    float: left;
    margin-top: 4%;
   
    padding-left: 2%;
}
.half-width4 h1{

    font-size: 50px;
}
.link-button2{

    text-decoration: none;
    padding: 0.8rem 2rem;
    background-image: linear-gradient(45deg,rgb(121, 53, 247),rgb(45, 16, 212) );
    color: white;
    border-radius: 5px;
    font-weight: 700;

}
.link-button2:hover{
    background: transparent;
    color: rgb(136, 40, 246);
    border: 2px solid rgb(64, 14, 202);
    font-weight: 700;
 
}
.secondsection{
    height:500px;
    background-image: url("../image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5px;
}
/* this is 3rd section style ,start here */
.thirdsection{
    background-image: url("../image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 2%;
    height: 500px;
}
.thirdheading{
   font-weight: 700;
   font-size: 50px;
   text-align: center;
}
.third{
    display: inline-block;
}
.half-widthfive{
    width: 40%;
    float: left;
  margin-left:5%;
    padding: 2%;
    
   

}
.half-widthsix{
    width: 40%;
    float: left;
   margin-left:5%;
    padding: 2%;
  
   
}

.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;
}
#full-stact{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightSalmon,tomato );
    border-image-slice: 1;
}
#full-stact2{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}